name: Build Docker

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build
        run: |
          docker build -t box-skeleton .
          docker run --entrypoint /bin/sh --name box box-skeleton
          docker cp box:/opt/www/box.macos.arm64 .
          docker cp box:/opt/www/box.macos.x86_64 .
